/* Commun Styles */
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  main {
    display: grid;
    justify-content: center;
  }
  .container {
    width: 1164px;
  }
  /* Header section styles */
  header {
    background: #190cd1;
    padding: 42px 0 0 0;
    display: grid;
    justify-content: center;
  }
  /* Navbar styles */
  .nav-menu {
    display: flex;
    justify-content: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1164px;
    height: 44px;
  }
  
  .menu ul {
    display: flex;
  }
  .menu ul li {
    margin-right: 36px;
  }
  .menu ul li a {
    color: rgb(231, 175, 175);
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
  }
  
  .login-button {
    background: hsl(337, 100%, 10%);
    padding: 10px 24px;
    border-radius: 5px;
    transition: transform 0.5s;
  }
  .login-button:hover {
    background: #3dbafd;
  }
  .login-button a {
    font-weight: 500;
    font-size: 16px;
    color: rgb(231, 142, 142);
  }
  .login-button a span {
    font-size: 17px;
    margin-right: 10px;
  }
  
  /* banner section styles */
  .banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0;
    align-items: center;
    
  }
  .banner-description h2 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    width: 485px;
    height: 230px; ;
    line-height: 80px;
    margin-bottom: 37px;
  }
  .watch-button {
    background: #e02c6d;
    padding: 10px 24px;
    width: 168px;
    border-radius: 5px;
    transition: 0.7s;
  cursor: pointer;
  }
  .watch-button:hover {
    background: #3dbafd;
    transform: scale(1.2) skew(-15deg);
  }
  .watch-button:hover.watch-button a {
    font-size: 18px;
  }
  .watch-button a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: block;
  }
  
  .watch-button a span {
    font-size: 17px;
    margin-left: 12px;
  }
  
  .banner-image img {
    width: 556px;
    height: 438px;
    transition: transform 0.5s;
  }
  
  
  /* Players section style  */
  .players {
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
  }
  .player {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .player-cover img {
    width: 340px;
    height: 256px;
  }
  .player-name {
    color: #18191f;
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .player-description {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  /*------------
   Highlights section style 
   ------------- */
.highlights-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
  }
  .highlight-info h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0a0826;
    margin-bottom: 8px;
    margin-top: 50px;
  }
  .highlight-info p {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .highlight-image img {
    width: 567px;
    height: 427px;
  }
  /*form*/
  .form{
      margin:10%;
      padding-left: 5%;
      border:5px solid black;
      box-sizing: content-box;
      background-color:wheat;
      
  }
  .teams{
      text-align: center;
  }
  
  /* footer section styles */
  footer {
    display: grid;
    justify-content: center;
    margin-top: 128px;
    padding-bottom: 63px;
  }
  .footer-logo img {
    width: 484px;
  }
  .social-icons {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    background: #e7e7e8;
    color: #969bab;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 14px;
    transition: 0.7s;
  }
   .social-icons a:hover {
    background: red;
    color: #fff;
    transform: scale(1.1);
  }
  
  .footer-copyright p {
    font-size: 10px;
    color: #000000;
    font-weight: 400;
    text-align: center;
  }
  
  